body {
  color: red;
}

div {
  width: 1200px;
  vertical-align: middle;
  margin: auto;
}

p {
  font-family: "Roboto Thin", "Helvetica Neue", Arial, sans-serif;
  font-size: 60px;
  font-style: italic;
  text-align: center;
}